.logo {
    border-radius: 15px;
    padding: 8px 16px;
    margin: 20px;
    display: inline-block;
}

header.logo img {
    height: 60px;        
    width: auto;          
    cursor: pointer;    
    border-radius: 10px;   
}